body {
	font-family: helvetica;
	font-size: 18px;
}

header {
	height: 275px;
	width: 100%;
	background-image: url("../images/schoolofathens.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}


#name {
	position: relative;
	top: 35%;
	font-size: 6rem;
	font-weight: bold;
	text-shadow: 0px 1px black;
}


nav {
	width: 19%;
	float: left;
	margin-right: 1%;
	margin-top: 3px;
}

nav ul {
	padding: 0px;
}

nav li {
	list-style: none;
	font-size: 2em;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 10px;
	margin: 5px;
}

nav li a {
	color: white;
	font-weight: bold;
}

nav li:hover {
	border-right: 3px solid grey;
	padding-right: 7px;
	border-bottom: 3px solid grey;
	padding-bottom: 7px;
	background-color: #e5d0b5;
}

nav ul li a:hover {
	color: blue;
}

li:nth-child(1) {
	background-color: #97A9C1;
}

li:nth-child(2) {
	background-color: #FAA879;
}

li:nth-child(3) {
	background-color: #915D2D;
}

li:nth-child(4) {
	background-color: #E29441;
}

main {
	width: 80%;
	float: right;
	display: flex;
}

#music {
	width: 50%;
}

#code {
	width: 50%;
}

p {
	font-size: 1.2rem;
	padding: 1rem;
}

#codeblock {
	text-indent: 5em;
	font-family: 'Courier New';
}

h2 {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	padding: 1rem;
	margin-top: .5rem;
	margin-right: .5rem;
}

#music h2 {
	background-color: #97A9C1;
}

#code h2 {
	background-color: #FAA879;
}